.SavedCharacters {
  border: solid;
  box-sizing: content-box;
}

.SavedCharactersCont {
  width: 48%;
  min-width: 400px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.SavedCharacter {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
